<template>
  <div>
  <div class="hello" v-if="currentQuestion && !ended">
    <h1>Question {{questionIndex +1}} of  {{questions.length}}</h1>
    <h1 :class="{red: timer < 3}">Time left: {{timer.toFixed(1)}}</h1>
    <h1 v-html="currentQuestion.question"></h1>
    <h2 @click="chooseAnswer(answer)" v-for="answer in answers" :key="answer" v-html="answer"></h2>
    <h1>Points: {{Math.round(this.points)}}</h1>
    <h3>Correct answers: {{this.correct}}</h3>

  </div>
  <div v-if="ended">Game over
<h1>Points: {{this.points}}</h1>
    <h3>Correct answers: {{this.correct}}</h3>
    <h4>Answer sheet</h4>
    <ul>
      <li v-for="question in questions" :key="question.question"><span v-html="question.question"/> - <span v-html="question.correct_answer" /></li>
    </ul>
  </div>
  </div>
</template>

<script>
import axios from 'axios';
import shuffle from 'shuffle-array';
const timerMaxTime = 30;
export default {
  name: 'Quiz',
  props: {
    msg: String
  },
  data() {
    return {
      questions: [],
      questionIndex: 0,
      correct:0,
      ended: false,
      timer: timerMaxTime,
      points: 0,
    };
  },
  methods: {
    chooseAnswer(answer) {
      const isCorrect = this.currentQuestion.correct_answer === answer;
      this.points += isCorrect * this.timer * 100;
      this.correct+= isCorrect;
      this.questionIndex += (this.questions.length - this.questionIndex) > 1;
      console.log(this.questionIndex, this.questions.length)
      this.ended = !((this.questions.length - this.questionIndex) > 1);
    this.timer = timerMaxTime;
    }
  },
  computed: {
    currentQuestion() {
      return this.questions.length ? this.questions[this.questionIndex] : null;
    },
    answers() {
      return this.currentQuestion ? shuffle([ ...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]) : [];
    },
  },
  async mounted() {
    const specialId = new URLSearchParams(window.location.search).get('uuid');
    const {data} = await axios.get(`https://quiz-50c5d.firebaseio.com/${specialId}.json`);
    this.questions = Object.values(data)[0].data;
    setInterval(() => {
      this.timer = (Math.round((this.timer - 0.1) * 10) /10);
      if(this.timer < 0) {
        this.chooseAnswer('yeetlord1');
      }
    }, 100);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}

.red {
  color: red;
}

h2 {
  cursor: pointer;
}
h2:hover{
  color: red;
}
</style>
