<template>
  <div>
      Input the URL from <a href="https://opentdb.com/api_config.php">here</a>
      <input type="text" v-model="url">
      <button @click="rumble">Generate quiz URL</button>
      <div v-if="urlToShow">
          Your quiz is accessible at: <a :href="urlToShow">{{urlToShow}}</a>
      </div>
  </div>
</template>

<script>
const url = 'http://quiz.hdimitrov.com/';
import axios from 'axios';
import uuid from 'uuid/v4';
export default {
  name: 'Shortener',
  props: {
    msg: String
  },
  data() {
    return {
      url: '',
      urlToShow: '',
    };
  },
  methods: {
    async rumble() {
        const res = await axios.get(this.url);
        const specialId = uuid();
        const newUrl = `${url}?uuid=${specialId}`;
        axios.post(`https://quiz-50c5d.firebaseio.com/${specialId}.json`, {data: res.data.results});
       const shortened =  await axios.post('https://api.rebrandly.com/v1/links', {destination: newUrl}, {
            headers: {
                "apikey": "6da3e2fdd4d845fb848af8bca531bcea",
            }
        });
        this.urlToShow = `https://${shortened.data.shortUrl}`;


    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.red {
  color: red;
}

h2 {
  cursor: pointer;
}
h2:hover{
  color: red;
}
</style>
