<template>
  <div id="app">
    <Quiz v-if="hasWindow"/>
    <Shortener v-else />
  </div>
</template>

<script>
import Quiz from './components/Quiz.vue'
import Shortener from './components/Shortener.vue';
export default {
  name: 'App',
  components: {
    Quiz,
    Shortener
  },
  computed: {
    hasWindow() {
      return window.location.search;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
